.modal-fullscreen {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.modal-body {
    overflow-y: auto;
}
.fullscreen .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.fullscreen .modal-body {
    overflow-y: auto;
}
